/* Made by Canete */

[data-testid=metric-container] {
    box-shadow: 0 0 1px #044f4f;
    padding: 1px;
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    white-space: break-spaces;
    font-size: 100%;
}

.plot-container > div {
    box-shadow: 0 0 5px #140e0e;
    padding: 3px;
    border-width: 3px;
}

/* Adjust font size for DataFrame buttons */
div[data-testid="stDataframe"] div[role="button"] p {
    font-size: 1.3rem;
    color: rgb(1, 84, 84);
}

/* Adjust DataFrame size */
div[data-testid="stDataframe"] {
    max-width: 900px; /* Adjust this value */
    overflow: auto; /* Enables horizontal scrolling if needed */
    padding: 5px;
    box-shadow: 0 0 5px #044f4f;
}

/* Improve table readability */
.dataframe-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
}